@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

.hero {
  position: relative;
  padding: 15vh 0 10vh;

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 0.2em;
  font-size: 3.5em;
  user-select: none;
  font-family: "Quicksand", sans-serif;
}

.subtitle {
  font-size: 1.24em;
  user-select: none;
  font-family: "Quicksand", sans-serif;
}

.buttons {
  margin-top: 3.5em;
  display: flex;
  justify-content: center;
}

.button {
  margin: 0 0.6em;
  border-radius: 3px;
}

.buttonIcon {
  position: relative;
  top: 0.15em;
  margin-left: 0.2em;
}

@media (max-width: 640px) {
  .hero {
    padding: 10vh 0.25em 5vh;
    line-height: normal;
  }

  .title {
    font-size: 2.5em;
    margin-bottom: 1em;
  }

  .subtitle {
    font-size: 1.1em;
    padding: 0 2em;
  }

  .buttons {
    flex-direction: column;
  }

  .button {
    display: block;
    width: 100%;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    margin: 0.5em 0;
  }
}
