.main {
  margin-bottom: 4em;
}

.descriptionWrapper {
  margin-bottom: 2em;

  display: flex;
  justify-content: center;
  text-align: center;
}
.description {
  position: relative;
  max-width: 40em;
  opacity: 0.6;
  text-align: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  color: var(--ifm-color-primary);
  height: 200px;
  width: 200px;
  pointer-events: none;
  user-select: none;
}

.textSectionLeft,
.textSectionRight {
  padding-left: 2em;
  padding-right: 2em;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.textSectionTitle {
  display: inline-block;
  position: relative;
  margin-bottom: 1.6em;
}
.textSectionTitle::after {
  content: "";
  position: absolute;

  top: calc(100% + 0.4em);
  height: 0.2em;
  left: -0.2em;
  right: -1em;

  background-color: var(--ifm-color-primary-darker);
}

.textSectionContents {
  grid-column: 2;
  max-width: 48em;
}

.titleWithIcon {
  display: flex;
  align-items: center;
}

.titleIcon {
  opacity: 0.8;
  margin-right: 0.6em;
}

/* Tablet */
@media (min-width: 640px) {
  .textSectionLeft,
  .textSectionRight {
    padding: 2em 4em 0;
  }
  .textSectionContents {
    max-width: 32em;
  }
}

/* medium */
@media (min-width: 768px) {
  .textSectionLeft,
  .textSectionRight {
    padding: 2em 1em 0;
  }
}

/* large */
@media (min-width: 1024px) {
  .textSectionLeft {
    grid-template-columns: 1fr auto 3fr;
  }

  .textSectionRight {
    grid-template-columns: 3fr auto 1fr;
  }

  .textSectionContents {
    max-width: 48em;
  }
}

/* extra large */
@media (min-width: 1280px) {
  .textSectionLeft {
    grid-template-columns: 1fr auto 2fr;
  }

  .textSectionRight {
    grid-template-columns: 2fr auto 1fr;
  }
}
