.wipWrapper {
  margin: 8em;
}

.centre {
  display: flex;
  justify-content: center;
}

.wip {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  line-height: 1.8em;
  opacity: 0.4;
  user-select: none;
}

.icon {
  margin-bottom: 0.8em;
  font-size: 2em;
}
