.centre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expand > table td:last-child {
  width: 100%;
}

.fullWidth > table {
  width: initial;
}

.label {
  margin-bottom: 2em;
}
